<div class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="panel-title">Welcome to  {{city}} </h1>
		
	</div>
	
	<div class="panel-body">
		

		<p> Population in Country: {{population}} </p>

		<p> Area: {{country.areaInSqKm}} </p>

		<p> Capital: {{capital}} </p>

		<p> Population of capital: {{population |number}} </p>
		<p>Neighbors: {{neighbors}} </p>

		<div>
			<h1>Images</h1>
			<img class="cac-image" ng-src="http://www.geonames.org/img/country/250/{{country.countryCode.toUpperCase()}}.png" />
	  		<img class="cac-image" ng-src="http://www.geonames.org/flags/x/{{country.countryCode.toLowerCase()}}.gif" />
		</div>

		<div> 
			<a href="#/home"> <button type="button" class="btn btn-lg btn-primary ">Home</button> </a>

			<a href="#!/countries"><button type="button" class="btn btn-lg btn-primary ">Browse Countries</button></a>
		</div>
	</div>
</div>