<div class="panel panel-primary">
	<div class="panel-heading">
		<h1 class="panel-title">Welcome to  {{city}} </h1>
		
	</div>
	
	<div class="panel-body">
		

		<p> Population in Country: {{population}} </p>

		<p> Area: {{country.areaInSqKm}} </p>

		<p> Capital: {{capital}} </p>

		<p> Population of capital: {{population |number}} </p>
		<p>Neighbors: {{neighbors}} </p>

		<div>
			<div>
				<h3>Map location</h3>
				<img class="cac-image" ng-src="http://www.geonames.org/img/country/250/{{countryCode.toUpperCase()}}.png" />
			</div>
			<div>
				<h3>Flag</h3>
	  			<img class="cac-image" ng-src="http://www.geonames.org/flags/x/{{countryCode.toLowerCase()}}.gif" />
				
			</div>
		</div>

		<div class="button-group"> 
			<a href="#/home"> <button type="button" class="btn btn-lg btn-primary ">Home</button> </a>

			<a href="#!/countries"><button type="button" class="btn btn-lg btn-primary ">Browse Countries</button></a>
		</div>
	</div>
</div>